.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(28, 20, 20, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-wrapper {
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  background: #f2f3f7;
  padding: 2rem;
}

.mbr-text {
  color: #6c758f;
}
.card-title {
  color: #246906;
}

.display-5 {
  font-size: 1.36rem;
  font-size: calc(1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc(
    1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)))
  );
  font-family: "Bellota Text", display;
  font-size: 1.7rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

.display-7 {
  font-family: "Bellota Text", display;
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}
.item img {
  max-width: 100%;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

.table {
  width: 100%; /* Table width remains consistent */
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f2f3f7; /* Set table background color */
  table-layout: fixed; /* Ensures fixed column widths */
}

.separator {
  border-left: 3px solid #71a129;
  height: 100%;
  margin-left: 50%;
}

/* Ensure the image is fully responsive */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.tab-content {
  margin: 48px;
}

@media (max-width: 768px) {
  .tab-content {
    margin: 1px;
  }
}

/* Apply horizontal scrolling only on small screens */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* Optional: Prevent text from wrapping in table cells */
  .table thead {
    text-align: center;
  }
}

/* Custom background color for active tab */
.nav-tabs .nav-link.active {
  background-color: #2a7908; /* Change to your desired color */
  color: #f0f4ef; /* Adjust text color if needed */
}

/* Optional: Custom color for inactive tabs */
.nav-tabs .nav-link {
  background-color: #9ace84; /* Background color for inactive tabs */
  color: #011602; /* Text color for inactive tabs */
}

/* Optional: On hover, change background of inactive tabs */
.nav-tabs .nav-link:hover {
  background-color: #2a7908; /* Color on hover */
}
